.padre-container {
    background-color: #2b2b2b;
    border: 2px solid #646cff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.hijo-card {
    margin-top: 15px;
    padding: 15px;
    background-color: #1a1a1a;
    border: 1px dashed #aaa;
    border-radius: 8px;
}