.contenedor-usuarios {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.tarjeta {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: #b9a7a7;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    border: 2px solid white;
}