.tarjeta-usuario-app {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.lista-tareas-app {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}